/* Neon Flux.
A pulsing neon sign made using many overlaid text-shadows.
https://gist.github.com/CodeMyUI/8ba3db1a814d8c3b93aaa697b8abdebb
*/

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  display: table;
}

@font-face {
  font-family: 'Rock Salt', cursive;
}

.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.motili {
  font-family: 'Rock Salt', cursive;
  color: #FB4264;
  font-size: 5vw;
  line-height: 5vw;
  text-align: center;
  text-shadow: 0 0 1vw #F40A35;
  margin-top: 5px;
}

#headline {
  font-family: 'Rock Salt', cursive;
  color: #426DFB;
  font-size: 3vw;
  line-height: 3vw;
  text-align: center;
  text-shadow: 0 0 1vw #2356FF;
}

.motili {
  animation: motili 1s ease infinite;
  -moz-animation: motili 1s ease infinite;
  -webkit-animation: motili 1s ease infinite;
}

@keyframes motili {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

#headline {
  animation: headline 2s linear infinite;
  -moz-animation: headline 2s linear infinite;
  -webkit-animation: headline 2s linear infinite;
  -o-animation: headline 2s linear infinite;
}

@keyframes headline {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}
/* End of Neon Flux Animated Headline */

h3 {
  font-family: 'Nothing You Could Do', cursive;
  color: white;
  margin-left: 250px;
}

.essentials {
  margin-top: 80px;
}

li {
    display: block;
    font-family: 'Sarpanch', sans-serif;
    color: white;
    /*background:#111;*/
    color:#fff;
    text-shadow:1px 1px 7px #F40A35, 1px 1px 7px #FB4264;
}

li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e254";
    font-family: 'Glyphicons Halflings';
    font-size: 18px;
    float: center;
    margin-top: 5px;
    margin-right: 10px;
    color: white;
}

/* Animate list items */
/* Global */

body {
  padding: 4em;
  color: rgba(255,255,255,.75);
  background-color: rgb(25,25,25);
}

li {
    position: relative;
    top: 50%;
    width: 40em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 160%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
/* Typewriter animation pure CSS, BY Thiago Teles Pereira
https://codepen.io/thiagoteles/pen/ogoxLw */
li {
  animation: typewriter 3s steps(70) 1s 1 normal both,
             blinkTextCursor 1500ms steps(200) infinite normal;
}
@keyframes typewriter {
  from{width: 0;}
  to{width: 40em;}
}
@keyframes blinkTextCursor {
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

header {
  display: inline-block;
  -webkit-transform: rotate(-25deg);
  text-align: center;
}

#madeby, #emma {
  font-family: 'Nothing You Could Do', cursive;
}
